.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
}

.form label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.form input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.2s;
  display: block;
  margin-top: 8px;
}

.form input[type="text"]:focus {
  border-color: #6366f1;
  outline: none;
}

.form button {
  align-self: flex-start;
  margin-bottom: 5px;
}

.form p {
    margin: 5px 0;
}

.error {
    color: red;
}